@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
.container {
  padding: 14px 30px;
}
.emptyData {
  opacity: 0.2;
}
.fields-wrapper {
  padding-top: 14px;
}
label {
  display: block;
}

.breadcrumbs-wrapper {
  padding-bottom: 14px;
  border-bottom: 1px solid #e5e7eb;
}
.text-blue {
  font-size: 14px;
  color: #0f489b;
}
.text-gray {
  font-size: 14px;
  color: #9ca3af;
}
.breadcrumbs {
  margin: 0 8px;
}
